{% extends 'blog/base_blog.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="">
    <img src="{% static 'img/logo.png' %}" alt="..." class="card-img-top">
    <div class="card-body">
        <h1 class="card-title">Welcome to my blog!</h1>
        <div align='right'class="mb-0">
            <!-- <a href="{{ post.get_absolute_url }}" class="btn btn-info btn-sm"> Read </a> -->
            <a href="{% url 'posts_list_url' %}" class="btn btn-info">Go to reading</a>
        </div>
    </div>
</div>
{% endblock %}
